@import "tailwindcss";

@theme {
  --color-outline: #757575;
  --color-on-primary-fixed: #414700;
  --color-surface-container-high: #1f1f1f;
  --color-tertiary-container: #facd34;
  --color-error: #ff7351;
  --color-background: #0e0e0e;
  --color-error-dim: #d53d18;
  --color-inverse-primary: #5c6400;
  --color-on-surface: #ffffff;
  --color-on-secondary: #5d5200;
  --color-outline-variant: #484848;
  --color-surface: #0e0e0e;
  --color-on-primary-fixed-variant: #5c6400;
  --color-secondary: #fae44c;
  --color-primary: #e4f265;
  --color-on-background: #ffffff;
  --color-on-surface-variant: #ababab;
  --color-surface-container-low: #131313;
  --color-on-error: #450900;
  --color-tertiary-dim: #ebbf24;
  --color-on-tertiary-fixed-variant: #634e00;
  --color-on-tertiary-container: #584500;
  --color-on-tertiary: #624e00;
  --color-on-tertiary-fixed: #413200;
  --color-primary-dim: #d6e359;
  --color-surface-dim: #0e0e0e;
  --color-inverse-on-surface: #555555;
  --color-tertiary-fixed: #facd34;
  --color-surface-container-lowest: #000000;
  --color-inverse-surface: #f9f9f9;
  --color-secondary-fixed-dim: #ebd63f;
  --color-surface-container-highest: #262626;
  --color-primary-container: #9ca821;
  --color-surface-container: #191919;
  --color-on-secondary-fixed-variant: #675c00;
  --color-primary-fixed: #e4f265;
  --color-on-secondary-container: #fff8df;
  --color-surface-bright: #2c2c2c;
  --color-on-primary: #525a00;
  --color-error-container: #b92902;
  --color-secondary-dim: #ebd63f;
  --color-tertiary-fixed-dim: #ebbf24;
  --color-on-primary-container: #212500;
  --color-surface-variant: #262626;
  --color-primary-fixed-dim: #d6e359;
  --color-on-secondary-fixed: #484000;
  --color-secondary-container: #6b5f00;
  --color-surface-tint: #e4f265;
  --color-secondary-fixed: #fae44c;
  --color-tertiary: #ffdd79;

  --radius-default: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 9999px;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .sharp-edge {
    border-radius: 0px !important;
  }
}
